header {
      width: 100vw;
      height: 200px;

      background-color: #24B73D;
      box-shadow: 5px 5px 10px 5px gray;
}
header:hover {

}

footer {
      width: 100vw;
      height: 200px;

      background-color: #006D1F;
      box-shadow: 5px -5px 10px 5px gray;
}
footer:hover {

}
