/* main.css */
/* General CSS rules that are to be applied to all pages */

* {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
}

header {
      user-select: none;
}

/* h1, h2, h3 {
      color: #FFFFFF;
      text-shadow: 2px 2px 2px #444;
} */

/* header {
      width: 100%;
      height: 10vh;

      background-color: #006D1F;
      box-shadow: 2px 2px 2px #444;
}
header:hover {

}
*/
button {
      user-select: none;
}


.visible {
      height: 25vh !important;
      opacity: 1 !important;
      visibility: visible !important;
      transition: opacity 1s ease, height 1s ease !important;
}

.warning {
      color: #D00 !important;
}

#post-container {
      width: 96%;
      height: 100%;

      margin: 2%;
}



.hidden {
      display: none;
}

.left {
      width: 35%;
      height: 100px;
      float: left;
}
.right {
      width: 55%;
      height: 100px;
      margin-left: 5% !important;
      float: left;
}



.mdl-dialog {
      width: 50% !important;
}
.mdl-dialog__title {
      font-size: 200%;
}

.mdl-spinner {
      margin: 40vh 48vw;
}

.share-post-link-field {
      width: 100% !important;
}

#firebaseui-auth-container {
      width: 40% !important;
      height: 40vh !important;
      margin: 30vh 30%;
      position: absolute;
}

#sign-up-message {
      margin-left: 25px;
}

/* .firebaseui-id-page-password-sign-in {

} */

/* .mdl-dialog__actions > button {
      width: 100%;
      height: 50px;
} */

#content {
      width: 100%;
}
