/* main.css */

/* General CSS rules that are to be applied to all pages */

* {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
}

header, button {
      user-select: none;
}

a {
      text-decoration: none;
      color: #5B5 !important;
      /* transition: color 0.5s ease; */
      filter: brightness(1);
      transition: filter 0.5s ease;
}

a:hover {
      /* color: #494 !important; */
      /* transition: color 0.5s ease; */
      filter: brightness(0.75);
      transition: filter 0.5s ease;
}

a:active {
      /* color: #262 !important; */
      /* transition: color 0.1s ease; */
      filter: brightness(0.5);
      transition: filter 0.1s ease;
}

.mdl-dialog {
      width: 50% !important;
}

.mdl-dialog__title {
      font-size: 200%;
}

/* .mdl-dialog__actions>button {
      width: 50%;
      height: 40px;
} */

.mdl-spinner {
      margin: 40vh 48vw;
}

.visible {
      height: 25vh !important;
      opacity: 1 !important;
      visibility: visible !important;
      transition: opacity 1s ease, height 1s ease !important;
}

.hidden {
      display: none;
}

.warning {
      color: #D00 !important;
}

#post-container {
      width: 96%;
      height: 100%;
      margin: 2%;
}

.left {
      width: 35%;
      height: 100px;
      float: left;
}

.right {
      width: 55%;
      height: 100px;
      margin-left: 5% !important;
      float: left;
}

.share-post-link-field {
      width: 100% !important;
}

#content {
      width: 100%;
}

.mdl-card {
      /* z-index: auto; */
      overflow: visible !important;
}

.mdl-card__menu {
      opacity: 0;
      transition: opacity 0.5s ease !important;
}

.mdl-card:hover .mdl-card__menu {
      opacity: 1;
      transition: opacity 0.5s ease;
}