.post {
      width: 90% !important;
      /* display: inline-block; */
      /* position: relative; */
      /* padding: 10px; */
      margin-bottom: 2%;
      filter: brightness(0.99);
      transition: filter 0.5s ease;
}

.post:hover {
      filter: brightness(1);
      transition: filter 0.5s ease;
}

.post:hover {
      background-color: #FFF;
      transition: all 1.5s ease;
}

.post-title {
      /* display: inline-block !important; */
      color: #444;
}

.post-info {
      padding-top: 0px !important;
}